<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/images/weather.jpg">
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/app.js"> </script>

<title>404</title>
</head>

<body>
<div>
  {{>header}}
    <!-- the double squigglies are hbs notation and allow us to pass in information for the js file -->
    <h1>{{message}}</h1>

</div>
  
 {{>footer}}
</body>

</html>